[submodule "second-module"]
	path = second-module
	url = https://github.com/martinsgabriel1956/myContacts
[submodule "fourth-module"]
	path = fourth-module
	url = https://github.com/martinsgabriel1956/jstack-blog
[submodule "fifth-module"]
	path = fifth-module
	url = https://github.com/martinsgabriel1956/jstack-blog
